<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Editing learning set.</h1>
	<p id="questions"></p>
</body>
<script>
	let questions = JSON.parse('<%-questions%>');
	for (const i of questions) {
		console.log(i);
		document.getElementById('questions').innerText += i.question + ': ' + i.answer + '\n';
	}
</script>
</html>