<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Editing learning set.</h1>
	<main>
		<!--Questions go here-->
	</main>
</body>

<script>
	const mainSection = document.getElementsByTagName('main')[0]; 
	const questions = JSON.parse('<%-questions%>');
	let iterator = 0;
	for (const i of questions) {
		let questionDiv = document.createElement('form');
		questionDiv.setAttribute('action', '/delete/<%=setId%>/' + iterator);
		questionDiv.setAttribute('method', 'POST');
		questionDiv.innerHTML = (
			'<p>' + i.question + ' | ' + i.answer + '</p>' +
			'<button type="submit">Delete</button>'
		);
		mainSection.appendChild(questionDiv);
		iterator++;
	}
</script>
</html>