<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/global.css">
	<link rel="stylesheet" href="/styles/set-index.css">
	<title>MOW / <%= name %>'s learning sets</title>
</head>
<body>
	<header>
		<h2>MOW / <span class="bold">learning sets</span></h2>
		<nav>
			<form action="/logout?_method=DELETE" method="POST">
				<button type="submit">Log out</button>
			</form>
		</nav>
	</header>
	<main>
		<div>
			<h2 id="main-heading">Hello, <%= name %>. You can find all your learning sets below.</h2>
			<div id="set-container">
	
			</div>
		</div>
		<form action="/addset" method="POST" id="add-item-form">
			<div>
				<label for="question">Name:</label>
				<input type="text" name="name" required>
			</div>
			<div>
				<label for="answer">Description:</label>
				<input type="text" name="description" required>
			</div>
			<div>
				<button type="submit">Create set</button>
			</div>
		</form>
	</main>
	<footer>

	</footer>
</body>
<script>
	let jsonString = '<%- sets %>';
	if (jsonString.length > 2) {
		let sets = JSON.parse(jsonString);
		let set = 0;
		for (const i of sets) {
			const learningSet = document.createElement('form');
			learningSet.setAttribute('action', '/deleteset/' + set);
			learningSet.setAttribute('method', 'POST');
			learningSet.setAttribute('class', 'learning-set');
			let htmlContent = (
				'<div><h4>' + i.name + '</h4></div><div><p>' + i.description + '</p></div>' +
				'<div><a href=\"/' + set +'/edit\">Edit</a>'
			);
			
			if (i.questions.length >= 3) {
				htmlContent += (
					'<a href=\"/' + set +'/practice\">Practice</a>'
				);
			}

			htmlContent += '<button type="submit">Delete</button></div>';

			learningSet.innerHTML = htmlContent;
			document.querySelector('#set-container').appendChild(learningSet);
			set++;
		}
	}
	else {
		document.getElementById('main-heading').innerText = 'Hello, <%= name %>. It seems you don\'t have'
			+ ' any learning sets. Start by creating one.';
	}
</script>
</html>
