<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/authentication.css">
	<title>Register</title>
</head>
<body>
	<h1>Register</h1>
	<% if (registerError != null) { 
		if (registerError == 'duplicateuser') { %>
			<p>A user with this username already exists. Please try a different one.</p>
		<% }
		else if (registerError == 'unknownerror') { %>
			<p>Something went wrong. Please try again.</p>
		<% }
	} %>
	<form action="/register" method="POST">
		<div>
			<label for="name">Username:</label>
			<input type="text" id="username" name="username" required>
		</div>
		<div>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required>
		</div>
		<button type="submit">Register</button>
	</form>
	<p>Already have an account? <a href="/login">Log in here.</a></p>
</body>
</html>