html {
	min-width: 300px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	text-align: center;
	width: 22rem;
}

#authentication-container, #link-container {
	background-color: #131e26;
}

#message-container {
	padding: 1rem;
	display: none;
}

#authentication-container {
	padding: 40px 0;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: #207c76 solid 3px;
}

#link-container {
	padding: 1rem;
	border: #a85062 solid 3px;
}

#message-container.success-message {
	background-color: #0e4816;
	display: block;
}

#message-container.error-message {
	background-color: #7d130f;
	display: block;
}

input[type=text], input[type=password] {
	background: none;
	border: none;
	background-color: white;
	margin: .2rem 0;
	outline: none;
	padding: 5px;
	font-family: 'Rubik', sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
	outline: #207c76 solid 3px;
}

p {
	margin: 0;
}

form div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

button {
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: .5rem 1.2rem;
	margin-top: 2rem;
	font-family: 'Rubik', sans-serif;
}

button:hover {
	outline: #207c76 solid 3px;
}

.bold {
	font-weight: 700;
}