body {
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	background-color: #131e26;
	border: #207c76 solid 3px;
	width: 65rem;
	height: 35rem;
}

button {
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: .5rem 1.2rem;
	font-family: 'Rubik', sans-serif;
}

button:hover {
	outline: #207c76 solid 3px;
}

#begin-container, #practice-select-container, #practice-write-container, #end-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#begin-container {
	align-items: center;
	justify-content: center;
}

#begin-container div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#begin-container button {
	width: 100%;
	margin: 1rem;
}

#practice-select-container {
	justify-content: center;
	text-align: center;
}

#practice-select-container div {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#practice-select-container div button {
	width: 30%;
}

#practice-write-container {
	justify-content: center;
	text-align: center;
}

#end-container {
	text-align: center;
	justify-content: center;
	align-items: center;
}